{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">


<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md" style="background-color: #12181f!important;">
  <div class="container">
     <a class="navbar-brand" href="{% url 'index' %}">Project Rater</a>
     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleCenteredNav" aria-controls="navbarsExampleCenteredNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>    
     <div class="collapse navbar-collapse navbar-collapse justify-content-md-end" id="navbarsExampleCenteredNav">
        <ul class="navbar-nav">
          <li>
            <form class="form-inline navbar-form py-1"action="{% url 'search' %}" method="GET"  id="navBarSearchForm">
              <input class="form-control" name="search_user" type="search" placeholder="Search" aria-label="Search" style="width: 500px;border-radius: 10px;height:30px;">
            </form>
          </li>
          <li class="nav-item py-0">
            <a class="nav-link text-white" href="{% url 'index' %}">Home</a>
          </li>
           {% if user.is_authenticated %}
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</a>
              <div class="dropdown-menu" aria-labelledby="dropdown03">
                  
                 <a class="dropdown-item" href="{% url 'profile' user.pk %}"><i class='fas fa-user-circle'></i> Profile</a>
                 <a class="dropdown-item" href="{% url 'upload' user.pk %}"><i class='fas fa-upload '></i> Upload</a>
                 <a class="dropdown-item" href="{% url 'logout' %}"><i class='fas fa-sign-out-alt'></i> Logout</a>
              </div>
           </li>
           {% else %}
           <li class="nav-item py-0">        
            <a class="nav-link" href="{% url 'signup' %}"><button class="btn btn-dark">Sign Up</button></a>
          </li>
          <li class="nav-item py-0">
            <a class="nav-link signup" href="{% url 'signin' %}"><button class="btn btn-dark">Sign In</button></a>
          </li>
          {% endif %}
        </ul>
     </div>
  </div>
</nav>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>



















