{% extends 'base.html' %}
{% block content %}
<div class="container py-3">
    <div class="row py-4">
        <div class="col-md-4 text-center py-3">
            <div class="profile-sidebar">
                <div class="profile-user-pic">
                    <img src="https://res.cloudinary.com/dtqnkzj6q/{{profile.avatar}}"
                        class="img-responsive img-rounded" width="200" height="200" style="border-radius: 100%;">
                </div>
                <div class="profile-usertitle text-white">
                    <div class="profile-usertitle-nam">
                       <h2>{{profile.name}}</h2> 
                       <p>{{user.username}}, {{profile.country}}</p>
                       <p>{{profile.user.email}}</p>
                    </div>
                </div>
                <div class="profile-usertitle text-white">
                    <p>About me:</p>
                    
                    <div class="profile-usertitle-nam">
                       <p>{{profile.bio}}</p>
                    </div>
                    <hr style="border:2px solid #f1f1f1">
                    <div class="profile-usertitle-jo">
               <a href="{% url 'update_profile' user.pk %}"><button type="submit" class="btn btn-dark btn-lg">Edit Profile</button></a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h4 class="text-center text-white">Projects Uploaded</h4> 
            <hr style="border: 1px solid #f1f1f1">
            <div class="container">
                <div class="row">
                    {% for project in projects %}
                    <div class="col-sm-2" style="width: 200rem;">
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'details' project.id %}"> <img src="https://res.cloudinary.com/dtqnkzj6q/{{project.poster}}" alt="imga" srcset="" width="100%" height="100%"></a>
                              <button class="btn btn-danger btn-sm">Delete</button>
                            </div>
                          </div>                       
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>    
</div>

{% endblock %}
